
<img id="contato-header" src="~/images/Contato-Header.png" />
    <div class="contato-info">
        <h5>
            <img src="~/images/icon/icon-email.png" alt="Email" class="contato-icon" />
            <email endereco="email@email.com.br" conteudo="contato@bitemeburgers.com.br"></email>
        </h5>

        <h5>
            <img src="~/images/icon/icon-phone.png" alt="Telefone" class="contato-icon" />
            (21) 9 9999-9999
        </h5>

        <h5>
            <img src="~/images/icon/icon-local.png" alt="Endereço" class="contato-icon" />
            Rua dos Sabores, 1234 - São Gonçalo, RJ
        </h5>
    </div>
    


