<br />
<div class="container">
    <img src="~/images/icon/icon-negado.png" alt="Acesso Negado" />
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado!</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
</div>

